<<<<<<< HEAD
/*start pagina*/











=======
/* gameDiv */
>>>>>>> 3f61d705e3016a266360a5162006278dffab0d7c

#gameDiv {
    width: 100%;
    height: 100%;
}

#actionCounter {
    width:25% ;
    height: 12.5%;
    position: absolute;
    top: 5%;
    left: 70%;
    display: none;
}

#inventoryButton {
    width: 25%;
    height: 15%;
    background-color: grey;
    position: absolute;
    left: 5%;
    top: 5%;
}

<<<<<<< HEAD
#gameDiv{
=======
#controlsBox {
>>>>>>> 3f61d705e3016a266360a5162006278dffab0d7c
    width: 99%;
    height: 70%;
    position: absolute;
    top: 25%;
    left: 0%;
    background-color: grey;
}

#inventoryButton {
    width: 40%;
    height: 25%;
    -webkit-transition: all .2s;
    background: #000;
    line-height: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 55%;
    left: 20%;
}

<<<<<<< HEAD
div.ColorPickBox {
=======
#topBox {
    position: absolute;
    margin: auto;
    width: 70%;
    height: 25%;
    background-color: grey;
}




#chooseName {
    font-size: 20px;
    color: white;
    display: block;
    margin: auto;
}



.ColorPickBox {
>>>>>>> 3f61d705e3016a266360a5162006278dffab0d7c
    position: absolute;
    background-color: grey;
    margin: 5px;
    width: 80px;
    height: 80px; 
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
    display: inline-block;
}

div.ColorPickBox:hover {
    border: 2px solid black;
}

.userName {
    text-align: left;
    font-family: Tahoma;
    position: absolute;
    top: 100px;
    left: 25%;
    font-weight: bold;
    font-size: 50px;
    color: #c60e0e;
}

.box {
    background-color: #444;
    color: #C4BE92;
    text-align: center;
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 8em;
    position: absolute;
    top: 35%;
    left: 17%;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

.input {
    font-size: 2.4em;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    width: 100%;
    margin: 0 0 .1em 0;
    color: #fff;
}

#Login {
    margin: auto;
    width: 70%;
    margin-top: 40%;
}

#ddd{
    display: block;
    padding-top: 200px;
    margin: 100px;
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
}

#button{
    display:block;
    margin: auto;
    margin-top: 10% ;
    width: 100%;
}


#ColorBlue {
    background: rgb(0,0,255);
    left: 0%;
}

#ColorRed {
    background: rgb(255,0,0);
    left: 11%;
}

#ColorGreen {
    background: #00FF00;
    left: 22%;
}

#ColorYellow {
    background: Yellow;
    left: 33%;
}

#ColorOrange {
    background: Orange;
    left: 44%;
}

#ColorPink{
    background: Pink;
    left: 55%;
}

#ColorBrown {
    background: Brown;
    left: 66%;
}

#ColorGray {
    background: Gray;
    left: 77%;
}

#ColorPurple {
    background: Purple;
    left: 88%;
}

div.result {
    width:50px;
    height: 50px;
    position: center;
}




#colorPicker {
    margin: 10px;
    background-color: grey;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-image: url("https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?cs=srgb&dl=abandoned-ancient-antique-235986.jpg&fm=jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.h1 {
    text-align: center;
    font-family: Tahoma;
    position: absolute;
    top: 30%;
    left: 170px;
}

.h2 {
    color: purple;
}


#backGround img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

/* niet_actie/invetory */
#inventoryScreen {
    width: 22%;
    height: 12%;
    -webkit-transition: all .2s;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 5%;
    left: 5%;
}

#main {
    width: 20%;
    height: 12%;
    -webkit-transition: all .2s;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 5%;
    left: 5%;
}

/* controls*/
#up {
    width: 20%;
    height: 12%;
    -webkit-transition: all .2s;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 15%;
    left: 40%;
}



#down {
    width: 20%;
    height: 12%;
    -webkit-transition: all .2s;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 55%;
    left: 40%;
}



#right {
<<<<<<< HEAD
    width: 25%;
    height: 26%;
    background: url(../content/arrowRight.png) no-repeat;
    background-color: black;
    background-size: 100%;
=======
    width: 30%;
    height: 20%;
    background: url("../content/right.png") no-repeat;
    background-color: black;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
>>>>>>> 3f61d705e3016a266360a5162006278dffab0d7c
    position: absolute;
    top: 25%;
    left: 68%;
}

#left {
<<<<<<< HEAD
    width: 25%;
    height: 30%;
    background: url(../content/left.png) no-repeat;
    background-position-x: 45%;
    background-position-y: 50%;
    background-color:black;
    position: absolute;
    
    border-radius: 50%;
    top: 35%;
    left: 10%;
=======
    width: 30%;
    height: 20%;
    background: url("../content/left.png") no-repeat;
    background-color: black;
    background-size:90%;
    background-position-x: 50%;
    background-position-y:50%;
    border-radius: 50%;
    position: absolute;
    top:25%;
    left: 8%;
>>>>>>> 3f61d705e3016a266360a5162006278dffab0d7c
}

#action {
    width: 20%;
    height: 12%;
    -webkit-transition: all .2s;
    background: #000;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    box-shadow: 5px 5px 2px;
    position: absolute;
    top: 35%;
    left: 40%;
}

