/*algemeen*/

body {
    width: auto;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    background-color: black;
    background-image: url("../content/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

#backGround img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

#topBox{
    top: 0%;
    background: grey;
    position: absolute;
    margin: 0%;
}

#backGround img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.input {
    font-size: 2.4em;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    width: 100%;
    margin: 0 0 .1em 0;
    color: #fff;
}

/* pop-up box */

#oke{
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: relative;
    top: 80%;
    left: 75%;
}

#popUpBox{
    width: 80%;
    height: 60%;
    background-color: grey;
    border: 5px solid rgb(104, 9, 9);
    position: absolute;
    margin: 0%;
    top: 20%;
    left: 10%;

}


/*start pagina*/
#startDiv{
    width: 100%;
    height: 100%;
    position:absolute;
    left:0%;
    top:0%;
}

/* gebruikersnaam kiezen */ 

#chooseName {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 0%;
}

#login {
    width: 50%;
    margin: auto;
    background-color: #000000;
    border: 5px solid #470024;
    border-radius: 30%;
    position: relative;
    top: 15%;
    padding: 10px;
    color: #731094;
    text-align: center;
    font-family: 'Segoe Print';
    font-size: 120%;
    font-weight: bolder;
}

.userName {
    text-align: left;
    font-family: Tahoma;
    position: absolute;
    top: 100px;
    left: 25%;
    font-weight: bold;
    font-size: 50px;
    color: #c60e0e;
}

#button{
    width: 50%;
    margin: auto;
    background-color: rgb(16, 48, 1);
    border: 5px solid rgb(8, 8, 8);
    border-radius: 30%;
    padding: 5px;
    color: rgb(112, 3, 3);
    position: relative;
    top:10%;
}

#chooseColor{
    width: 50%;
    font-family: 'Segoe Print';
    font-size: 100%;
    font-weight: bolder;
    margin: auto;
    border: 5px solid #2C5784;
    border-radius: 30%;
    padding: 5px;
    color: black;
}

/* color kiezen */

#colorPicker {
    width: 90%;
    height: 65%;
    position: absolute;
    border: 5px dotted #470024;
    left: 5%;
    top: 30%;
}

div.ColorPickBox {
    position: absolute;
    background-color: grey;
    margin: 5px;
    width: 80px;
    height: 80px; 
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
    display: inline-block;
}

div.ColorPickBox:hover {
    border: 2px solid black;
}

#textColor {
    width: 50%;
    margin: auto;
    background-color: #000000;
    border: 5px solid #470024;
    border-radius: 50%;
    padding: 10px;
    color: #731094;
    text-align: center;
    font-family: 'Segoe Print';
}

/*collor buttons*/

#ColorBlue {
    background: #0000ff;
    position: absolute;
    top: 19%;
    left: 2%; 
}

#ColorRed {
    background: #ff0000;
    position: absolute;
    top: 19%;
    left: 35%;
}

#ColorGreen {
    background: #00FF00;
    position: absolute;
    top: 19%;
    left: 68%;
}

#ColorYellow {
    background: #ffff00;
    position: absolute;
    top: 46%;
    left: 2%;
}

#ColorOrange {
    background: #ffa500;
    position: absolute;
    top: 46%;
    left: 35%;
}

#ColorPink{
    background: #ffc0cb;
    position: absolute;
    top: 46%;
    left: 68%;
}

#ColorBrown {
    background: #a52a2a;
    position: absolute;
    top: 73%;
    left: 2%;
}

#ColorGray {
    background: #808080;
    position: absolute;
    top: 73%;
    left: 35%;
}

#ColorPurple {
    background: #800080;
    position: absolute;
    top: 73%;
    left: 68%;
}

div.ColorPickBox {
    position: absolute;
    background-color: grey;
    margin: 5px;
    width: 80px;
    height: 80px; 
    border: 2px solid white;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    border-radius: 100px;
    display: inline-block;
    font-family: 'Segoe Print';
}

div.ColorPickBox:hover {
    border: 2px solid black;
}

/*controls/ingame */
#gameDiv{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#inventoryScreen {
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color:#731094;
    border-radius: 15px;
    position: absolute;
    top: 7.5%;
    left: 5%;
}

#inventoryScreen1 {
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 50%;
}

#notepadScreen{
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 5%;
}

#controlsBox{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 5%;
    border: 5px dotted #470024;

}

#actionCounter{
    width: 25%;
    height: 10%;
    position: absolute;
    top: 10%;
    left: 70%;
}

/* end turn button */
#endTurn{
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.box {
    background-color: #444;
    color: #C4BE92;
    text-align: center;
    -webkit-border-radius: 12px;
    border-radius: 12px; 
    -moz-background-clip: padding; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
    padding: .8em .8em 1em;
    width: 8em;
    position: absolute;
    top: 35%;
    left: 17%;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}

/* controls*/
#controlImg{
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

#left {
    width: 25%;
    height: 20%;
    background-color: black;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 40%;
    
}

#right {
    width: 25%;
    height: 20%;
    background-color: black;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 70%;
}

#up {
    width: 25%;
    height: 20%;
    background-color: black;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 37.5%;
}

#down {
    width: 25%;
    height: 20%;
    background-color: black;
    background-size: 100%;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 70%;
    left: 37.5%;
}

#action {
    width: 30%;
    height: 20%;
    background-color: black;
    border: 5px solid black;
    color: #731094;
    text-align: center;
    font-family: 'Segoe Print';
    font-size: 150%;
    font-weight: bolder;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
}

/* Inventory */

#inventoryDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0%;
    top: 0%;
}

#middleBox{
    width: 90%;
    height: 15%;
    position: absolute;
    left: 5%;
    top: 2%; 
}

#main {
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 5%;
}

#notepadScreen1{
    width: auto;
    height: auto;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    background-color: #000000;
    border: 5px solid #470024;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 50%;
}

#bottomBox{
    width: 90%;
    height: 70%;
    border: 5px dotted #470024;
    position: absolute;
    left: 5%;
    top: 20%;
}

/*inventory boxen*/

#inventoryBox1{
    width: 35%;
    height: 25%;
    border: 5px dotted #470024;
    position: absolute;
    background-color: grey;
    left: 0%;
    top: 0%;
}

#inventoryBox2{
    width: 35%;
    height: 25%;
    border: 5px dotted #470024;
    position: absolute;
    background-color: grey;
    left:30%;
    top: 35%;
}

#inventoryBox3{
    width: 35%;
    height: 25%;
    border: 5px dotted #470024;
    position: absolute;
    background-color: grey;
    left: 60%;
    top: 70%;
}


/*inventory items*/
#useItem1{
    width: auto;
    height: auto;
    background-color: #000000;
    border: 2px solid #470024;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    color: #731094;;
    border-radius: 15px;
    position: absolute;
    left: 0%;
    top:70%;
}
#dropItem1{
    width: auto;
    height: auto;
    background-color: #000000;
    border: 2px solid #470024;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    color: #731094;;
    border-radius: 15px;
    position: relative;
    left: 3%;
    top: 70%;
}
/*Clues*/

#main1 {
    width: auto;
    height: auto;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 5%;
}

/*readyScherm*/

#readySchermDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0%;
    top: 0%;
}

#ready{
    width: 35%;
    height: 25%;
    background-color: #000000;
    border: 5px solid #470024;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: #731094;
    border-radius: 15px;
    position: absolute;
    left: 30%;
    top: 35%;
}



/* geen idee waarvoor dacht dat iets met colorpicker was */

#ddd{
    display: block;
    padding-top: 200px;
    margin: 100px;
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
}

div.result {
    width:50px;
    height: 50px;
    position: center;
}